<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/icon.png}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Akyl Bank</title>
    <script defer th:src="@{/js/script.js}"></script>
</head>
<body>
<header class="header">
    <nav class="nav">
        <a th:href="@{/main/back}">
            <img
                    th:src="@{/img/logo.png}"
                    alt="Bankist logo"
                    class="nav__logo"
                    id="logo"></a>
        <ul class="nav__links">
            <li style="margin-left: 0" class="nav__item">
                <form th:action="@{/logout}" th:method="POST">
                    <button class="btn">LOG OUT</button>
                </form>
            </li>
        </ul>
    </nav>
    <form th:action="@{/client/profile/{id}(id=${client.getId()})}" th:method="PATCH" role="form" class="modal__form" >

        <div th:object="${address}" class="modal__form">

            <label for="apartment">Apartment</label>
            <input th:field="*{apartment}" type="number" min="1" id="apartment" name="apartment"
                   placeholder="Apartment">
            <h5 th:if="${#fields.hasErrors('apartment')}" th:errors="*{apartment}"></h5>

            <label for="city">City<sup class="sup">*</sup></label>
            <input th:field="*{city}" type="text" id="city" name="apartment" placeholder="City"><!---->
            <h5 th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></h5>

            <label for="floor">Floor</label>
            <input th:field="*{floor}" type="number" min="1" id="floor" name="floor" placeholder="Floor">
            <h5 th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}"></h5>

            <label for="houseNumber">House number<sup class="sup">*</sup></label>
            <input th:field="*{houseNumber}" type="text" id="houseNumber" name="houseNumber"
                   placeholder="House number"><!---->
            <h5 th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></h5>

            <label for="street">Street<sup class="sup">*</sup></label>
            <input th:field="*{street}" type="text" id="street" name="street" placeholder="Street"><!---->
            <h5 th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></h5>

        </div>
        <div th:object="${client}" class="modal__form">
            <label for="name">Name<sup class="sup">*</sup></label>
            <input th:field="*{firstName}" type="text" id="name" name="name" placeholder="Enter first name"><!---->
            <h5 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></h5>

            <label for="surname">Surname<sup class="sup">*</sup></label>
            <input th:field="*{lastName}" type="text" id="surname" name="surname" placeholder="Enter last name">
            <h5 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></h5>

            <label for="cash">Cash</label>
            <input  type="number" id="cash" th:field="*{cash}" name="cash" placeholder="Enter your cash">
            <!---->
        </div>
        <button class="btn btn--show-modal" type="submit">Save</button>
    </form>

</header>


<footer class="footer">
    <ul class="footer__nav">
        <li class="footer__item">
            <a class="footer__link" href="about.html">About</a>
        </li>
        <li class="footer__item">
            <a class="footer__link" href="terms.html">Terms of Use</a>
        </li>
        <li class="footer__item">
            <a class="footer__link" href="contacts.html">Contact Us</a>
        </li>
    </ul>
    <img th:src="@{/img/icon.png}" alt="Logo" class="footer__logo"/>
    <p class="footer__copyright">
        &copy; Copyright by
        <a
                class="footer__link twitter-link"
                target="_blank"
                href="#"
        >SaKa</a>
    </p>
</footer>

</body>
</html>
